body,
html {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.9)), url('../images/dish.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    background-position: top;
    height: 100%;
}

.hol_base {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.9)), url('../images/test1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    height: 100%;
}

.cont {
    grid-area: s;
    width: 1220px;
    height: auto;
    background-color: rgba(173, 133, 133, 0.8);
    margin-left: auto;
    margin-right: auto;
}

.f_cont {
    grid-area: f;
}

.t_cont {
    grid-area: t;
}

.glava {
    position: absolute;
    margin-top: 70px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 'f s t'
}

.f_menu {
    display: grid;
}

.logo_text {
    display: grid;
}

header {
    position: absolute;
    width: 100%;
    background: black;
    height: 70px;
    position: absolute;
}

.f_menu h1 {
    color: white;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    padding: 15px;
}

.logo_text h1 {
    margin: 0;
    padding: 25px;
    color: white;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 25px;
    line-height: 20px;
    text-shadow: 6px 4px 6px rgba(0, 0, 0, 0.25);
}

.sec-menu {
    display: grid;
    place-items: center;
}

.name_txt {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: grid;
    gap: 10px;
    margin-top: 0px;
    grid-template-columns: 350px auto 350px;
}

.dish_img {
    grid-area: dish_img;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 20%; */
    width: 290px;
    height: 217.99px;
}

.dish_name {
    grid-area: dish_name;
    margin-left: auto;
    margin-right: auto;
}

.dish_cat {
    grid-area: dish_cat;
    margin-left: auto;
    /* margin-left: auto;
    margin-right: auto; */
}

.dish_cat textarea {
    background: none;
    overflow: hidden;
    width: 272px;
    max-height: 48px;
    min-height: 20px;
    color: rgb(180, 180, 180);
    text-shadow: #000000;
    text-align: center;
    border: none;
    resize: none;
    outline: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}

.dish_name textarea {
    background: none;
    overflow: hidden;
    width: 272px;
    max-height: 48px;
    min-height: 20px;
    color: white;
    text-align: center;
    border: none;
    resize: none;
    outline: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
}

.dish_txt {
    grid-area: dish_txt;
    color: white;
    background: none;
    resize: none;
    outline: none;
    border: none;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
}

.btn {
    grid-area: btn;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.btn_add {
    width: 150px;
    height: 50px;
    background-color: #AD8585;
    border-radius: 15px;
    font-family: 'Oswald', sans-serif;
    border: 2px solid #8c6a6a;
    font-size: 20px;
    color: white;
}

#dish_txt::-webkit-scrollbar {
    width: 12px;
    background: none;
}

#dish_txt::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#AD8585, #8c6a6a, #AD8585);
    border: 2px solid #7b5d5d;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#AD8585, #8c6a6a, #AD8585);
    border: 2px solid #7b5d5d;
}

.recipe_cont {
    width: 1100px;
    height: auto;
    /* border: 2px solid rebeccapurple;
    border-radius: 20px; */
    display: grid;
    grid-template-areas: 'dish_img  dish_txt dish_txt dish_txt  dish_txt' '. dish_txt dish_txt dish_txt  dish_txt' 'dish_name  . . . .' '. . . . .' 'btn . . . dish_cat';
    /* '.  dish_txt dish_txt dish_txt dish_txt' */
}

.pop_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s;
}

.show {
    opacity: 1;
    visibility: visible;
    overflow: hidden;
}

.popup_menu_cont {
    background-color: rgba(173, 133, 133, 0.99);
    margin-top: 70px;
    width: 620px;
    height: 100%;
    margin-left: auto;
    transition: all 0.8s;
}

.pop_bud {
    height: 100%;
}

.popup_recipes {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 45%;
    height: 80px;
    weight: 200px;
    background-color: #8c6a6a;
    border-radius: 15px;
    border-style: solid;
    border-weight: 1px;
    border-color: #7b5d5d;
}

.popup_recipes:hover {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 45%;
    height: 80px;
    weight: 200px;
    background-color: #8c6a6a;
    border-radius: 15px;
    border-style: solid;
    border-weight: 1px;
    border-color: #8e6969;
}

.popup_my_recipes {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    height: 80px;
    weight: 200px;
    background-color: #8c6a6a;
    border-radius: 15px;
    border-style: solid;
    border-weight: 1px;
    border-color: #7b5d5d;
}

.popup_my_recipes:hover {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    height: 80px;
    weight: 200px;
    background-color: #8c6a6a;
    border-radius: 15px;
    border-style: solid;
    border-weight: 1px;
    border-color: #8e6969;
}

.pop_recipes_p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 15px;
}

.my_recipes_p {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    color: white;
    margin: 15px;
}

a {
    text-decoration: none;
}

.form_search {
    margin-left: 30%;
    width: 100%;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
}

#day {
    background-color: #8c6a6a;
    color: white;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 10px;
}

#day::-webkit-scrollbar {
    width: 12px;
    background: none;
}

#day::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#AD8585, #8c6a6a, #AD8585);
    border: 2px solid #7b5d5d;
}

#month {
    background-color: #8c6a6a;
    color: white;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 10px;
}

#month::-webkit-scrollbar {
    width: 12px;
    background: none;
}

#month::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#AD8585, #8c6a6a, #AD8585);
    border: 2px solid #7b5d5d;
}

#search_cont {
    background-color: #8c6a6a;
    color: white;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    margin-left: 10px;
    border-radius: 10px;
}

#search_cont::-webkit-scrollbar {
    width: 12px;
    background: none;
}

#search_cont::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#AD8585, #8c6a6a, #AD8585);
    border: 2px solid #7b5d5d;
}

.svg_lupa {
    background: none;
    position: relative;
    margin-bottom: -8px;
}

.poisk {
    background: none;
    border: none;
}

.form_cat {
    margin-left: 38%;
    width: 315px;
    color: white;
    font-size: 20px;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 10px;
}

.null_info {
    font-size: 50px;
    font-family: 'PT Sans Narrow', sans-serif;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.form_cat input {
    margin-left: 10px;
    color: #7b5d5d;
    border: none;
    border-radius: 15px;
}