<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Вход</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=PT+Sans+Narrow:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/auth.css">
</head>

<body>
    <div class="cont">
        <div class="logo">
            <img src="../static/images/logo.svg" style="width:350px; heigth:350px; margin-left: -80px; margin-top: -30px">

        </div>
        <div class="auth">
            <form>
                <table>
                    <tr>
                        <td>
                            <div class="m_cont"><label class="mails" for="send" style="padding-left: 37px;">Почта: <input pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$" style="text-align: center;" class="mail" id = "send"type="text"></label></div>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div class="pas_cont"><label class="pas" for="password-input" style="padding-left: 37px;">Пароль:<input style="text-align: center;" class="pasword" id="password-input" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" type="password"></label></div>
                        </td>
                    </tr>
                </table>
                <div class="btn_auth">
                    <button class="btn">Войти</button>
                </div>
            </form>
        </div>
        <div class="question">
            <table>
                <tr>
                    <td>
                        <p class="txt_ak">Нет аккаунта?</p>
                    </td>
                    <td><a href="reg.html" class="txt_ak_a">Регистрация</a></td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>