<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рецепты дня</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=PT+Sans+Narrow:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/osnova.css">
</head>

<body>
    <div class="info">
        <header class="container">
            <div class="f_menu">
                <h1 th:text="${user.getFirstName()} + ' ' + ${user.getLastName()}"> юзер</h1>
            </div>
            <div class="logo_text">
                <h1>FIRESIDE</h1>
            </div>
            <div class="sec-menu">
            </div>

        </header>
        <div class="cont">
            <div class="name_txt">
                <h1 style="margin-left: 30%; margin-top:50px">Рецепты дня</h1>
            </div>
            <div class="recipe_cont" style="margin-top: 100px;margin-left:auto;margin-right:auto;">
                <img class="dish_img" src="http://img.iamcook.ru/2022/upl/recipes/middle/u-ce08648d4f3b82b61a9135e77c74d47d.jpg">
                <div class="dish_name">
                    <p> привет</p>
                </div>
                <textarea class="dish_txt"></textarea>

            </div>
            <div></div>
        </div>
    </div>
</body>

</html>